models/model.pt

eval/
eval_allSegments_20k/
eval_deeplesion_bodymap/
eval_wholebody_bodymap/
results/

vista3d_venv/

__pycache__/
scripts/__pycache__/
.ipynb_checkpoints/
configs/.ipynb_checkpoints/
scripts/.ipynb_checkpoints/
